/* GLOBAL */
.error-icon {
  color: #ff4d4f;
}


/* SIDEBAR */

/* Logo */
.ant-layout-sider-collapsed .logo-vertical img {
  transition: width 0.2s;
  width: 80px;
}
.ant-layout-sider:not(.ant-layout-sider-collapsed) .logo-vertical img {
  transition: width 0.2s;
  width: 200px;
}

/* User, signout and year button */
.ant-layout-sider .user,
.ant-layout-sider .signout,
.ant-layout-sider .selectedYear, 
.ant-layout-sider .addYear {
  color: white;
  padding: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-layout-sider .signout,
.ant-layout-sider .addYear {
  padding-bottom: 15px;
}
.ant-layout-sider button {
  width: 100%;
}
.ant-layout-sider-collapsed .signout button span:nth-child(1) {
  margin-right: 0 !important;
}
.ant-layout-sider-collapsed .signout button span:nth-child(2) {
  transition: width 0.2s;
  display: none;
}
.ant-layout-sider:not(.ant-layout-sider-collapsed) .signout button span:nth-child(2) {
  transition: width 0.2s;
  display: inline;
}
.ant-layout-sider .selectedYear {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  text-align: center;
}

/* CONTAINER */

.base-container{
  padding: 24px;
  min-height: 360px;
}

/* Headers of sections */
div.header span {
  font-size: 1.5em;
}

.ant-divider span {
  color: blue;
  text-transform: uppercase;
}

.current-month {
  background: #bcd8ff;
}